body {
    background-color: whitesmoke;
}

header {
    background-image: url("http://marczikertesz.hu/images/MarciKertesz_Slider/4.jpg");
    background-size: cover;
    padding-bottom: 200px;
    color:#4CAF50;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    
}

.logo-frame {
    background-color: rgba(255,255,255,0.85);
    border-bottom: 10px solid #4CAF50;
}

nav {
    background-color: #4CAF50;
}

nav a {
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    bottom: 0;
    position: relative;
    width: 100%;
}

.phone-num {
    white-space: nowrap;
}

.services-container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    width: 400px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.service-card p {
    text-align: left;
}

.service-card:hover {
    transform: scale(1.05);
}

h3 {
    color:#4CAF50;
    font-style: italic;
}

.bemutatkozas-szoveg {
    line-height: 1.6;
    color: #555;
}

.gardening-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.gardening-btn:hover {
    background-color: #45a049;
}

.ref-link:any-link {
    text-decoration: none;
}



@media (max-width:600px) {
    header h1, header p {
        font-size: 90%;
    }
}